body {
    background-color: black;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

p {
    font-size: .7em;
    color: black;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.film {
    background-color: dimgrey;
    padding: 2em 2em 1em 2em;
    width: 10.1em;
            margin: 1em;

}

.foto {
    height: 15em;
}

#heart1 {
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0
}

#heart2 {
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0
}

#heart3 {
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0
}

#heart4 {
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0
}

#heart5 {
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0
}




.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}